.panda-card{
    border: none;
}
.panda-footer{
    border: none; background-color: white;
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #dd95b7; border-radius: 1em;
}